{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-success navbar-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'website/images/chipnrun_logo.png' %}" width="119" height="39"/>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'logout_user' %}">Logout</a></li>
                </ul>
              </li>
              {% comment %} <li class="nav-item d-flex">
                <a class="nav-link active" href="{% url 'change_password' %}" tabindex="-1" aria-disabled="false">Change Password</a>
              </li>
              <li class="nav-item d-flex">
                <a class="nav-link active" href="{% url 'edit_profile' %}" tabindex="-1" aria-disabled="false">Edit Profile</a>
              </li>
              <li class="nav-item d-flex">
                <a class="nav-link active" href="{% url 'logout_user' %}" tabindex="-1" aria-disabled="false">Logout</a>
              </li> {% endcomment %}
              {% else %}
              <li class="nav-item d-flex">
                <a class="nav-link active" href="{% url 'login_user' %}" tabindex="-1" aria-disabled="false">Login</a>
              </li>
              <li class="nav-item d-flex">
                <a class="nav-link active" href="{% url 'register_user' %}" tabindex="-1" aria-disabled="false">Register</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    <div class="container">
      {% if messages %}
      <div class="messages mt-3">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}{{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>