{% load static %}

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>ChipnRun : The social golf application</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
	<!-- The 1140px Grid - http://cssgrid.net/ -->
	<link rel="stylesheet" href="{% static 'website/css/1140.css' %}" type="text/css" media="screen" />
	
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
    
	<!-- Your styles -->
	<link rel="stylesheet" href="{% static 'website/css/main.css' %}" type="text/css" media="screen">

</head>


<body>
<div class="wrapper">


<div class="container topgreenheader">
	<div class="row">
    
    <div class="fourcol" style="vertical-align:bottom">
        	<div class="middlealign">
            <h1>
            	the online social golfing system
            </h1>
            </div>
		</div>
        
        <div class="fourcol">
        	<div class="logo">
            	<img src="{% static 'website/images/chipnrun_logo.png' %}">
            </div>
		</div>
        
		<div class="fourcol last">
        	<div class="middlealign right">
            	<div>
                
                <form action="" method="get">
                	<div id="username"><input name="" type="text" class="loginform borderradius6px" placeholder="username"></div>
                    <div id="password"><input name="" type="password" class="loginform borderradius6px" placeholder="password"></div>
                    <div id="login"><input name="" type="submit" class="loginbutton"></div>
                </form>
                
                <a href="#" class="white textshadowblack normal" style="letter-spacing:normal;">Forgotten your password? Click here.</a>
                </div>
            </div>
		</div>
    </div>
</div>

<div class="container topbarposition">
	<div class="row">
		<div class="twelvecol" style="height:73px;">
            <div class="topbar borderradius6px">
                <ul>
                	<li><a href="#" class="topbarnav" style="-webkit-border-radius: 5px 0px 0px 5px;border-radius: 5px 0px 0px 5px;">Home</a></li>
                    <li><a href="#" class="topbarnav">Join a Group </a></li>
                    <li><a href="#" class="topbarnav">Book Your Tee Times</a></li>
                    <li><a href="#" class="topbarnav">Subscribe</a></li>
                    <li><a href="#" class="topbarnav">Golf Courses</a></li>
                    <li><a href="#" class="topbarnav">Challenge Board</a></li>
                    <li><a href="#" class="topbarnav">Download Mobile App</a></li>
                    
                    
                                                                                                         
                    
                </ul>
                
                <div class="register"></div>
            </div>
		</div>
    </div>
</div>




<div class="container">
	<div class="row">
		<div class="sixcol">
        	<img src="{% static 'website/images/frontpage/splash.png' %}">
        </div>
        
        <div class="threecol">
        	<div>
                <img src="{% static 'website/img/bg-img/9.png' %}" alt="">
            <a href="#" class="greyactionbutton"><img src="{% static 'website/images/icons/register.png' %}" align="absmiddle">Register<div class="actionsubtext">register your club or group for FREE today and start challenging others</div></a>
            <div class="spacer"></div>
            <a href="#" class="greyactionbutton"><img src="{% static 'website/images/icons/capture.png' %}" align="absmiddle">Save Scores<div class="actionsubtext">Save your latest score to your profile</div></a>
            <div class="spacer"></div>
            <a href="#" class="greyactionbutton"><img src="{% static 'website/images/icons/share.png' %}" align="absmiddle">Tell friends<div class="actionsubtext">get your friends or group registered</div></a>
            </div>
        </div>
        
        <div class="threecol last">
        <div class="spacer"></div>
        
        	<img src="{% static 'website/images/frontpage/banner.jpg' %}"  width="300" height="250">
            
        </div>
    </div>
</div>

<div class="spacer pagehr"></div>

<div class="container howitworks" style="padding:20px 0px;">
	<div class="row" style="">
		<div class="fourcol" style="text-align:left; font-size:0.9em">
       

			<h1>How it all works</h1><br>
<br>
        
			
            ChipnRun is a brand new concept in tracking and comparing scores, connecting with other golfers in your area and challenging other groups or individuals in a uniquely developed Challenge Board.

        </div>
        <div class="twocol" style="text-align:center">
			<img src="{% static 'website/images/process/howitworks_1.png' %}">
            <h4>Play your round</h4>
        </div>
        <div class="twocol" style="text-align:center">
			<img src="{% static 'website/images/process/howitworks_2.png' %}">
            <h4>Enter your score online</h4>
        </div>
        <div class="twocol" style="text-align:center">
			<img src="{% static 'website/images/process/howitworks_3.png' %}">
            <h4>Compare your rankings and view your score stats</h4>
        </div>
        <!--<div class="twocol" style="text-align:center">
			<img src="{% static 'website/images/process/howitworks_4.png' %}">
            <h4>Propose Challenges to others</h4>
        </div>
        <div class="twocol last" style="text-align:center">
			<img src="{% static 'website/images/process/howitworks_5.png' %}">
            <h4>Accept Challenges from others</h4>
        </div> -->
        
        <div class="twocol last" style="text-align:left; font-size:0.9em">
        <br>

        </div>
 
    </div>
</div>  




<div class="push"></div>
        </div>
        <div class="footer">
        
<div class="container footerplaid">
<div class="container footerback">
	<div class="row"  style="height:200px;">
		<div class="threecol white"  style="font-weight:300; font-size:0.8em">
			<h3>About ChipnRun</h3>
            ChipnRun was developed after the need for a social, fun platform for recording, tracking and comparing scores was identified by a group of golf buddies. All involved with IT and marketing they had the necessary skills to get the system running the way they wanted it to be.
        </div>
        
        <div class="threecol white"  style="font-weight:300; font-size:0.8em">
			<ul class="footerlinks">
                	<li><a href="#">Home</a></li>
                    <li><a href="#" class="">Join a Group </a></li>
                    <li><a href="#" class="">Book Your Tee Times</a></li>
                    <li><a href="#" class="">Subscribe</a></li>
                    <li><a href="#" class="">Golf Courses</a></li>
                    <li><a href="#" class="">Challenge Board</a></li>
                    <li><a href="#" class="">Download Mobile App</a></li>
                    <li><a href="#" class="">Advertise with ChipnRun</a></li>
                    <li><a href="#" class=""></a></li>
                    
                                                                                                         
                    
                </ul>
        </div>
        
        <div class="threecol white"  style="font-weight:300; font-size:0.8em">
			<h3>Golfing News</h3>
            
            <h4 style="margin-bottom:5px;">Martin Kaymer wins his first title of 2012</h4>
            Martin Kaymer finally secured his first title of the year with a two-shot victory at the Nedbank Golf Challenge.
The German Ryder Cup star, 27, finished eight under par, with 2011 Masters winner Charl Schwartzel second, ahead of American Bill Haas on three under.

        </div>
        
      <div class="threecol white last"  style="font-weight:300; font-size:0.8em">
			<h3>Still unsure of what to do?</h3>
            You can register your group or just yourself to be able to log all your scores, personal notes and reviews on golf courses you've played and your recommendations on what to do on which courses.<br><br>
<div align="center"><a href="#"><img src="{% static 'website/images/register_footer.png' %}"></a></div>
      </div>
        
        
    </div>
</div>  
</div>        




</div>
<script>

</script>
<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script type="text/javascript" src="{% static 'website/js/css3-mediaqueries.js' %}"></script>

</body>

</html>