<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>ChipnRun : The social golf application</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	
	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

	<!-- The 1140px Grid - http://cssgrid.net/ -->
	<link rel="stylesheet" href="web-app/css/1140.css" type="text/css" media="screen" />
	
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
    
	<!-- Your styles -->
	<link rel="stylesheet" href="web-app/css/main.css" type="text/css" media="screen" />
	
	<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
	<script type="text/javascript" src="web-app/js/css3-mediaqueries.js"></script>
	<script>
	$(document).ready(function(){
	  $("#firstName").focus();
	});
	</script>

</head>


<body>
<div class="wrapper">


<div class="container topgreenheader">
	<div class="row">
    
    <div class="fourcol" style="vertical-align:bottom">
        	<div class="middlealign">
            <h1>
            	the online social golfing system
            </h1>
            </div>
		</div>
        
        <div class="fourcol">
        	<div class="logo">
            	<img src="web-app/images/chipnrun_logo.png">
            </div>
		</div>
        
		<div class="fourcol last">
        	<div class="middlealign right">
            	<div>
                
                <form action="" method="get">
                	<div id="username"><input name="" type="text" class="loginform borderradius6px" placeholder="username"></div>
                    <div id="password"><input name="" type="password" class="loginform borderradius6px" placeholder="password"></div>
                    <div id="login"><input name="" type="submit" class="loginbutton"></div>
                </form>
                
                <a href="#" class="white textshadowblack normal" style="letter-spacing:normal;">Forgotten your password? Click here.</a>
                </div>
            </div>
		</div>
    </div>
</div>

<div class="container topbarposition">
	<div class="row">
		<div class="twelvecol" style="height:73px;">
            <div class="topbar borderradius6px">
                <ul>
                	<li><a href="#" class="topbarnav" style="-webkit-border-radius: 5px 0px 0px 5px;border-radius: 5px 0px 0px 5px;">Home</a></li>
                    <li><a href="#" class="topbarnav">Join a Group </a></li>
                    <li><a href="#" class="topbarnav">Book Your Tee Times</a></li>
                    <li><a href="#" class="topbarnav">Subscribe</a></li>
                    <li><a href="#" class="topbarnav">Golf Courses</a></li>
                    <li><a href="#" class="topbarnav">Challenge Board</a></li>
                    <li><a href="#" class="topbarnav">Download Mobile App</a></li>
                    
                    
                                                                                                         
                    
                </ul>
                
                <div class="register"></div>
            </div>
		</div>
    </div>
</div>





<div class="container">
	<div class="row">
		<div class="twelvecol">
			<h1>Create your free account</h1>
		</div>
    </div>
</div>

<div class="container">
	<div class="row">
		<div class="threecol" style="font-weight:300; font-size:0.8em; text-align:justify">
			<h4>New Customer Registration</h4>

You are just a few clicks away from becoming a member of our community. Once you've registered you can start logging your scores, interacting with others in your group and start benefiting from a myriad of our other community-based features including members-only offers and our unique challenge system.
<br>
<br>

<h4>Privacy and Security</h4>

We take your privacy very seriously.
We are committed to protecting your privacy and security. We will only store and use the information that we collect about you lawfully and in in accordance with the Data Protection Act of 1998. The information we collect about you is relevant to your profile and helps us provide you with highest quality service and online experience. You can review and manage all your information on your account page once you log in. We will only e-mail you if there is a problem with your profile or if you have given us your consent. We do not pass your e-mail address to other parties. You can review our privacy policies, security information and terms & conditions for more detailed information about how your details are secured with us.
		</div>
        <div class="sixcol regform"> 
   		<img src="web-app/images/tabkey.jpg">
               	


<div class="fieldcontain  ">
  <label for="firstName">
    First Name<span class="required-indicator">*</span>
  </label>
  <input type="text" name="firstName" value="" required class="nameField" id="firstName" />
</div>

<div class="fieldcontain  ">
  <label for="middleName">
    Initials
  </label>
  <input type="text" name="middleName" value="" id="middleName" />
</div>

<div class="fieldcontain  ">
  <label for="lastName">
    Last Name<span class="required-indicator">*</span>
  </label>
  <input type="text" name="lastName" value="" required class="nameField" id="lastName" />
</div>

<div class="fieldcontain  ">
  <label for="email">
    Email<span class="required-indicator">*</span>
  </label>
  <input type="text" name="lastName" value="" required class="nameField" id="email" />
</div>

<div class="fieldcontain  ">
  <label for="email">
    Confirm Email<span class="required-indicator">*</span>
  </label>
  <input type="text" name="confirmEmail" value="" required class="nameField" id="confirmEmail" />
</div>

<div class="fieldcontain  ">
  <label for="email">
    Mobile<span class="required-indicator">*</span>
  </label>
  <input type="text" name="mobilePhone" value="" required class="nameField" id="mobile" />
</div>


<div class="spacer pagehr"></div>


<div class="fieldcontain  required">
    <label for="username">
        Username
        <span class="required-indicator">*</span>
    </label>
    <input type="text" name="username" required value="" id="username" /><div id="message" style="display:inline-block; "></div>
</div>

<div class="fieldcontain  required">
    <label for="password">
        Password
        <span class="required-indicator">*</span>
    </label>
    <input type="password" name="password" required value="" id="password" />
</div>
<div class="fieldcontain  required">
    <label for="confirmPassword">
        Confirm Password
        <span class="required-indicator">*</span>
    </label>
    <input type="password" name="confirmPassword" required value="" id="confirmPassword" />
</div>


<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


    <input type="hidden" name="address.typeId" value="" id="address.typeId" />


<div class="spacer pagehr"></div>

<div class="fieldcontain  ">
    <label for="address.houseNumberOrName">House Number or Name<span class='required-indicator'>*</span></label>
    <input type="text" name="address.houseNumberOrName" value="" required id="address.houseNumberOrName" />
</div>

<div class="fieldcontain  required">
    <label for="address.postcode">Postcode<span class='required-indicator'>*</span></label>
    <input type="text" name="address.postcode" id="postcode" value="" style="text-transform: UPPERCASE; display:inline-block; width:20%" required />
    <a href="#" id="lookup" class="greyactionbutton" style="display:inline-block; font-size:0.8em; font-weight:400; letter-spacing:normal">Lookup Address</a>
</div>

<div class="fieldcontain  required">
    <label for="address.address1">Address1<span class='required-indicator'>*</span></label>
    <input type="text" name="address.address1" value="" required id="address1" />
</div>

<div class="fieldcontain  ">
    <label for="address.address2">Address2</label>
    <input type="text" name="address.address2" value="" id="address.address2" />
</div>

<div class="fieldcontain  ">
    <label for="address.address3">Address3</label>
    <input type="text" name="address.address3" value="" id="address.address3" />
</div>

<div class="fieldcontain  required">
    <label for="address.city">City<span class='required-indicator'>*</span></label>
    <input type="text" name="address.city" value="" required id="city" />
</div>

<div class="fieldcontain  required">
    <label for="address.county">County<span class='required-indicator'>*</span></label>
    <input type="text" name="address.county" value="" required id="county" />
</div>

<div class="fieldcontain  required">
    <label for="address.country">Country<span class='required-indicator'>*</span></label>
    <select name="address.countryInput" onchange="countryChanged()" required="" id="countryInput" >
<option value="">-Choose your country-</option>
<option value="afg" >Afghanistan</option>
<option value="alb" >Albania</option>
<option value="dza" >Algeria</option>
<option value="asm" >American Samoa</option>
<option value="and" >Andorra</option>
<option value="ago" >Angola</option>
<option value="aia" >Anguilla</option>
<option value="ata" >Antarctica</option>
<option value="atg" >Antigua and Barbuda</option>
<option value="arg" >Argentina</option>
<option value="arm" >Armenia</option>
<option value="abw" >Aruba</option>
<option value="aus" >Australia</option>
<option value="aut" >Austria</option>
<option value="aze" >Azerbaijan</option>
<option value="bhs" >Bahamas</option>
<option value="bhr" >Bahrain</option>
<option value="bgd" >Bangladesh</option>
<option value="brb" >Barbados</option>
<option value="blr" >Belarus</option>
<option value="bel" >Belgium</option>
<option value="blz" >Belize</option>
<option value="ben" >Benin</option>
<option value="bmu" >Bermuda</option>
<option value="btn" >Bhutan</option>
<option value="bol" >Bolivia</option>
<option value="bih" >Bosnia and Herzegovina</option>
<option value="bwa" >Botswana</option>
<option value="bvt" >Bouvet Island</option>
<option value="bra" >Brazil</option>
<option value="iot" >British Indian Ocean Territory</option>
<option value="vgb" >British Virgin Islands</option>
<option value="brn" >Brunei Darussalam</option>
<option value="bgr" >Bulgaria</option>
<option value="bfa" >Burkina Faso</option>
<option value="bdi" >Burundi</option>
<option value="khm" >Cambodia</option>
<option value="cmr" >Cameroon</option>
<option value="can" >Canada</option>
<option value="cpv" >Cape Verde</option>
<option value="cym" >Cayman Islands</option>
<option value="caf" >Central African</option>
<option value="tcd" >Chad</option>
<option value="chl" >Chile</option>
<option value="chn" >China</option>
<option value="cxr" >Christmas Island</option>
<option value="cck" >Cocos (Keeling) Islands</option>
<option value="col" >Colombia</option>
<option value="com" >Comoros</option>
<option value="cok" >Cook Islands</option>
<option value="cri" >Costa Rica</option>
<option value="hrv" >Croatia</option>
<option value="cub" >Cuba</option>
<option value="cyp" >Cyprus</option>
<option value="cze" >Czech Republic</option>
<option value="civ" >C&ocirc;te d&#39;Ivoire</option>
<option value="prk" >Democratic People&#39;s Republic of Korea</option>
<option value="dnk" >Denmark</option>
<option value="dji" >Djibouti</option>
<option value="dma" >Dominica</option>
<option value="dom" >Dominican Republic</option>
<option value="ecu" >Ecuador</option>
<option value="egy" >Egypt</option>
<option value="slv" >El Salvador</option>
<option value="gnq" >Equatorial Guinea</option>
<option value="eri" >Eritrea</option>
<option value="est" >Estonia</option>
<option value="eth" >Ethiopia</option>
<option value="flk" >Falkland Islands</option>
<option value="fro" >Faroe Islands</option>
<option value="fsm" >Federated States of Micronesia</option>
<option value="fji" >Fiji</option>
<option value="fin" >Finland</option>
<option value="fra" >France</option>
<option value="guf" >French Guiana</option>
<option value="pyf" >French Polynesia</option>
<option value="atf" >French Southern Territories</option>
<option value="gab" >Gabon</option>
<option value="gmb" >Gambia</option>
<option value="geo" >Georgia</option>
<option value="deu" >Germany</option>
<option value="gha" >Ghana</option>
<option value="gib" >Gibraltar</option>
<option value="grc" >Greece</option>
<option value="grl" >Greenland</option>
<option value="grd" >Grenada</option>
<option value="glp" >Guadeloupe</option>
<option value="gum" >Guam</option>
<option value="gtm" >Guatemala</option>
<option value="gin" >Guinea</option>
<option value="gnb" >Guinea-Bissau</option>
<option value="guy" >Guyana</option>
<option value="hti" >Haiti</option>
<option value="hmd" >Heard Island and McDonald Islands</option>
<option value="hnd" >Honduras</option>
<option value="hkg" >Hong Kong</option>
<option value="hun" >Hungary</option>
<option value="isl" >Iceland</option>
<option value="ind" >India</option>
<option value="idn" >Indonesia</option>
<option value="irq" >Iraq</option>
<option value="irl" >Ireland</option>
<option value="irn" >Islamic Republic of Iran</option>
<option value="imn" >Isle of Man</option>
<option value="isr" >Israel</option>
<option value="ita" >Italy</option>
<option value="jam" >Jamaica</option>
<option value="jpn" >Japan</option>
<option value="jor" >Jordan</option>
<option value="kaz" >Kazakhstan</option>
<option value="ken" >Kenya</option>
<option value="kir" >Kiribati</option>
<option value="kwt" >Kuwait</option>
<option value="kgz" >Kyrgyzstan</option>
<option value="lao" >Lao People&#39;s Democratic Republic</option>
<option value="lva" >Latvia</option>
<option value="lbn" >Lebanon</option>
<option value="lso" >Lesotho</option>
<option value="lbr" >Liberia</option>
<option value="lby" >Libyan Arab Jamahiriya</option>
<option value="lie" >Liechtenstein</option>
<option value="ltu" >Lithuania</option>
<option value="lux" >Luxembourg</option>
<option value="mac" >Macao</option>
<option value="mdg" >Madagascar</option>
<option value="mwi" >Malawi</option>
<option value="mys" >Malaysia</option>
<option value="mdv" >Maldives</option>
<option value="mli" >Mali</option>
<option value="mlt" >Malta</option>
<option value="mhl" >Marshall Islands</option>
<option value="mtq" >Martinique</option>
<option value="mrt" >Mauritania</option>
<option value="mus" >Mauritius</option>
<option value="myt" >Mayotte</option>
<option value="mex" >Mexico</option>
<option value="mco" >Monaco</option>
<option value="mng" >Mongolia</option>
<option value="msr" >Montserrat</option>
<option value="mar" >Morocco</option>
<option value="moz" >Mozambique</option>
<option value="mmr" >Myanmar</option>
<option value="nam" >Namibia</option>
<option value="nru" >Nauru</option>
<option value="npl" >Nepal</option>
<option value="nld" >Netherlands</option>
<option value="ant" >Netherlands Antilles</option>
<option value="ncl" >New Caledonia</option>
<option value="nzl" >New Zealand</option>
<option value="nic" >Nicaragua</option>
<option value="ner" >Niger</option>
<option value="nga" >Nigeria</option>
<option value="niu" >Niue</option>
<option value="nfk" >Norfolk Island</option>
<option value="mnp" >Northern Mariana Islands</option>
<option value="nor" >Norway</option>
<option value="pse" >Occupied Palestinian Territory</option>
<option value="omn" >Oman</option>
<option value="pak" >Pakistan</option>
<option value="plw" >Palau</option>
<option value="pan" >Panama</option>
<option value="png" >Papua New Guinea</option>
<option value="pry" >Paraguay</option>
<option value="per" >Peru</option>
<option value="phl" >Philippines</option>
<option value="pcn" >Pitcairn</option>
<option value="pol" >Poland</option>
<option value="prt" >Portugal</option>
<option value="pri" >Puerto Rico</option>
<option value="qat" >Qatar</option>
<option value="kor" >Republic of Korea</option>
<option value="mda" >Republic of Moldova</option>
<option value="cog" >Republic of the Congo</option>
<option value="rou" >Romania</option>
<option value="rus" >Russian Federation</option>
<option value="rwa" >Rwanda</option>
<option value="reu" >R&eacute;union</option>
<option value="shn" >Saint Helena</option>
<option value="kna" >Saint Kitts and Nevis</option>
<option value="lca" >Saint Lucia</option>
<option value="vct" >Saint Vincent and the Grenadines</option>
<option value="spm" >Saint-Pierre and Miquelon</option>
<option value="wsm" >Samoa</option>
<option value="smr" >San Marino</option>
<option value="stp" >Sao Tome and Principe</option>
<option value="sau" >Saudi Arabia</option>
<option value="sen" >Senegal</option>
<option value="scg" >Serbia and Montenegro</option>
<option value="syc" >Seychelles</option>
<option value="sle" >Sierra Leone</option>
<option value="sgp" >Singapore</option>
<option value="svk" >Slovakia</option>
<option value="svn" >Slovenia</option>
<option value="slb" >Solomon Islands</option>
<option value="som" >Somalia</option>
<option value="zaf" >South Africa</option>
<option value="sgs" >South Georgia and the South Sandwich Islands</option>
<option value="esp" >Spain</option>
<option value="lka" >Sri Lanka</option>
<option value="sdn" >Sudan</option>
<option value="sur" >Suriname</option>
<option value="sjm" >Svalbard and Jan Mayen</option>
<option value="swz" >Swaziland</option>
<option value="swe" >Sweden</option>
<option value="che" >Switzerland</option>
<option value="syr" >Syrian Arab Republic</option>
<option value="twn" >Taiwan</option>
<option value="tjk" >Tajikistan</option>
<option value="tha" >Thailand</option>
<option value="cod" >The Democratic Republic Of The Congo</option>
<option value="mkd" >The Former Yugoslav Republic of Macedonia</option>
<option value="tls" >Timor-Leste</option>
<option value="tgo" >Togo</option>
<option value="tkl" >Tokelau</option>
<option value="ton" >Tonga</option>
<option value="tto" >Trinidad and Tobago</option>
<option value="tun" >Tunisia</option>
<option value="tur" >Turkey</option>
<option value="tkm" >Turkmenistan</option>
<option value="tca" >Turks and Caicos Islands</option>
<option value="tuv" >Tuvalu</option>
<option value="vir" >U.S. Virgin Islands</option>
<option value="uga" >Uganda</option>
<option value="ukr" >Ukraine</option>
<option value="are" >United Arab Emirates</option>
<option value="gbr" >United Kingdom</option>
<option value="tza" >United Republic Of Tanzania</option>
<option value="usa" >United States</option>
<option value="umi" >United States Minor Outlying Islands</option>
<option value="ury" >Uruguay</option>
<option value="uzb" >Uzbekistan</option>
<option value="vut" >Vanuatu</option>
<option value="vat" >Vatican City State</option>
<option value="ven" >Venezuela</option>
<option value="vnm" >Vietnam</option>
<option value="wlf" >Wallis and Futuna</option>
<option value="esh" >Western Sahara</option>
<option value="yem" >Yemen</option>
<option value="zmb" >Zambia</option>
<option value="zwe" >Zimbabwe</option>
<option value="ala" >&Aring;land Islands</option>
</select>
</div>

<input type="hidden" name="address.country" value="" id="country" />
<input type="hidden" name="address.latitude" value="" id="latitude" />
<input type="hidden" name="address.longitude" value="" id="longitude" />




<script type="text/javascript">
    $(document).ready(function()  {
        // Initialise everything when the lookup link is clicked
        $("#lookup").click(function(e){
            e.preventDefault();
            codeAddress();
        });

        $("#addressType").change(function () {
            addressTypeChanged();
        });

        addressTypeChanged();
        initCountry();
    });

    function addressTypeChanged() {
        var str = "";
        $("#addressType option:selected").each(function () {
            str += $(this).text() ;
        });
        if("Residential"==str) {
            $("#businessName").hide(500);
        } else {
            $("#businessName").show("slow");
        }
    }

    function countryChanged() {
        var str = "";
        $("#countryInput option:selected").each(function () {
            str += $(this).text() ;
        });
        $("#country").val(str);
    }

    function initCountry() {
        var str = $("#country").val();
        $("#countryInput option:contains("+str+")").attr('selected','selected');
    }

    // Load up a couple of variables and load in the Google maps Geocoder
    var geocoder = new google.maps.Geocoder();
    // Encode the postcode into Lat/Lng
    function codeAddress() {
        // Grab the postcode
        var address = document.getElementById('postcode').value+',uk';
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                // Loop through the results to make sure it's the first two
                var results = results[0].geometry.location;
                var i = 0;
                var res = new Array();
                for (var x in results) {
                    if (i < 2) {
                        res.push(results[x]);
                    } else {
                        break;
                    }
                    i++;
                }
                $("#latitude").val(res[0]);
                $("#longitude").val(res[1]);
                // Shove this straight into the second function
                codeLatLng(res[0], res[1]);
            }
        });
    }
    // Encode the lat/lng back into a full address
    function codeLatLng(lat, lng) {
        var latlng = new google.maps.LatLng(lat, lng);
        geocoder.geocode({'latLng': latlng}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    var info = new Object();
                    for (var x=0; x<results[0].address_components.length; x++) {
                        info[results[0].address_components[x].types] = results[0].address_components[x].long_name;
                    }
                    $('#county').val("");
                    $('#city').val("");
                    $('#address1').val("");
                    // Populate the form elements with the segments of the address we need
                    $('#address1').val(info['route']?info['route']:info['locality,political']);
                    $('#city').val(info['postal_town']);
                    if(info['administrative_area_level_2,political']!=info['postal_town']) { $('#county').val(info['administrative_area_level_2,political']); }
                    $("#countryInput option:contains(" + info['country,political'] + ")").attr('selected', 'selected');
                    if(info['postal_code']) { $('#postcode').val(info['postal_code']) }
                    countryChanged();
                }
            }
        });
    }
</script>




<script>

    $(document).ready(function(){
        initCalendar("#lastLoginDate");

        $(".nameField").change(function () {
            $('#username').val($('#firstName').val()+'.'+$('#lastName').val());
            $('#usernameCheck').val($('#firstName').val()+'.'+$('#lastName').val());
            $('#checkUser').submit();
        });
        $("#username").change(function () {
            $('#usernameCheck').val($('#username').val());
            $('#checkUser').submit();
        });


    });

    function initCalendar(field) {
        $(field).datepicker({
            defaultDate: "+1w",
            showOn: "both",
//            buttonImage: "../images/Calender-48.png",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd MM yy',
            numberOfMonths: 1
        });
    }
</script>

<div class="spacer pagehr"></div>

<a href="#" class="greyactionbutton" style="text-align:center">Save your information</a>


           
		</div>
        <div class="threecol last"  style="font-weight:300; font-size:0.8em; text-align:justify">
			<h4>Why register with Chip'n Run?</h4>
Here at Chip'n Run we take golf seriously and aim to provide you with everything you need to run your golf society successfully.<br>
<br>

<h4>Run your society</h4>
Register your members, create your competitions, run your Order Of Merit, track society handicaps, see who has most birdies, most bogies and the highest score on a hole.<br>
<br>

<h4>Keep track of your own scores</h4>
Here at Chip'n Run we give you all the tools to record the scores of you and your society members.
<br>
<br>

<h4>Organise your away days and trips</h4>
Tired of keeping track of who you have asked, who has replied, who has paid in spreadsheets or on pieces of paper, then let our site take the hassle out of organising you golf day, weekend away or trip abroad.
<br>
<br>

<h4>Connect with others</h4>
Looking to meet up with like minded golfers or working away from home and fancy playing a new course with a local member, then connect with others via our site.
<br>
<br>

<h4>Get the inside scoop</h4>
Keep up to date with what your golf buddies are doing, where they are playing and what they are scoring. Sign up today and enjoy all these benefits
		</div>
        
       
    </div>

</div>



<div class="push"></div>
        </div>
        <div class="footer">
        
        
<div class="container footerplaid">
<div class="container footerback">
	<div class="row"  style="height:200px;">
		<div class="threecol white"  style="font-weight:300; font-size:0.8em">
			<h3>About ChipnRun</h3>
            ChipnRun was developed after the need for a social, fun platform for recording, tracking and comparing scores was identified by a group of golf buddies. All involved with IT and marketing they had the necessary skills to get the system running the way they wanted it to be.
        </div>
        
        <div class="threecol white"  style="font-weight:300; font-size:0.8em">
			<ul class="footerlinks">
                	<li><a href="#">Home</a></li>
                    <li><a href="#" class="">Join a Group </a></li>
                    <li><a href="#" class="">Book Your Tee Times</a></li>
                    <li><a href="#" class="">Subscribe</a></li>
                    <li><a href="#" class="">Golf Courses</a></li>
                    <li><a href="#" class="">Challenge Board</a></li>
                    <li><a href="#" class="">Download Mobile App</a></li>
                    <li><a href="#" class="">Advertise with ChipnRun</a></li>
                    <li><a href="#" class=""></a></li>
                    
                                                                                                         
                    
                </ul>
        </div>
        
        <div class="threecol white"  style="font-weight:300; font-size:0.8em">
			<h3>Golfing News</h3>
            
            <h4 style="margin-bottom:5px;">Martin Kaymer wins his first title of 2012</h4>
            Martin Kaymer finally secured his first title of the year with a two-shot victory at the Nedbank Golf Challenge.
The German Ryder Cup star, 27, finished eight under par, with 2011 Masters winner Charl Schwartzel second, ahead of American Bill Haas on three under.

        </div>
        
      <div class="threecol white last"  style="font-weight:300; font-size:0.8em">
			<h3>Still unsure of what to do?</h3>
            You can register your group or just yourself to be able to log all your scores, personal notes and reviews on golf courses you've played and your recommendations on what to do on which courses.<br><br>
<div align="center"><a href="#"><img src="web-app/images/register_footer.png"></a></div>
      </div>
        
        
    </div>
</div>  
</div>        






</div>

</body>

</html>