{% extends 'base.html' %}

{% load static %}
{% block content %}

<style>
  {% comment %} .helptext {% endcomment %}
  .helptext {
    {% comment %} margin-bottom: 0.25rem; {% endcomment %}
    font-size: 0.7em;
    font-weight: 600;
    color: blue;
  }
  .errorlist {
    color: red;
    font-weight: 700;
    font-size: 0.9em;
    list-style: none;
  }
</style>

  <div class="container">
    <div class="row mt-3">
      <div class="col-md-8 offset-md-2">
        <form action="{% url 'register_user' %}" method="POST">
          {% csrf_token %}
          {% if form.errors %}
          <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            Your submission has errors, see below.
          {% comment %} {% for field in form %}
            {% if field.errors %}
              {{ field.errors }}
            {% endif %}
          {% endfor %} {% endcomment %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% comment %} <p class="errorlist">Your submission has errors, see below</p> {% endcomment %}
          {% endif %}

          {{ form.as_p }}

          <button type="submit" class="btn btn-success">Register</button>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
